@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-SemiBold.woff);
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}  

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}   

/* Общие стили */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 0 auto;
}
  
* {
    box-sizing: border-box;
}
  
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
  
button {
    cursor: pointer;
}
  
.input,
textarea,
button {
    color: inherit;
    font-family: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1630px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 30px 0;
    background-color: #111;
    color: #fff;
    font-weight: 600;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__nav__list {
    display: flex;
    justify-content: space-between;
}

.header__nav__item:not(:last-child) {
    margin-right: 62px;
}

.header__nav__item {
    transition: color 0.3s ease;
}

.header__nav__item:hover {
    color: #C283F3;
}

.header__nav__item:active {
    color: #7943A4;
}

.header__nav__item:focus {
    outline: 2px solid #7943A4 !important;
}

.header__logo {
    margin-right: 179px;
}

.header__enterButton {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-left: 279px;
    background-color: transparent;
    border: none;
}

.header__enterButton::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -14px;
    width: 13px;
    height: 13px;
    background: url(../img/header/enter-img.svg);
    transition: background .3s ease-in-out;
}

.header__enterButton:hover {
    color: #C283F3;
}

.header__enterButton:hover::before {
    content: '';
    width: 17.5px;
    height: 13px;
    background: url(../img/header/enter-img-hover.svg);
}

.header__enterButton:active::before {
    content: '';
    width: 17.5px;
    height: 13px;
    background: url(../img/header/enter-img-active.svg);
}

.header__enterButton:active {
    color: #7943A4;
    outline: none;
}

/* Header-2 */

.header-2 {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 100px;
    padding: 25px 0;
    background-color: rgba(17, 17, 17, 0.37);
    color: #fff;
    font-weight: 600;
}

.header-2__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-2__nav__list {
    display: flex;
    justify-content: space-between;
}

.header-2__nav__item {
    position: relative;

}

.header-2__nav__item__btn {
    font-size: 18px;
    font-weight: 400;
    z-index: 20;
    background-color: transparent;
    border: none;
}

.header-2__nav__item__btn i {
    font-size: 15px;
    margin-left: 5px;
}

/* .header-2__nav__item__btn:hover:not(:active) ,
.header-2__nav__item__btn:focus:not(:focus-visible),
.header-2__nav__item__btn:focus-visible,
.header-2__nav__item__btn.active--btn {
  background-color: #9D5CD0;
} */

.header-2__nav__item__btn:hover {
  background-color: #9D5CD0;
}

.header-2__nav__item__btn:focus-visible {
    outline: 0;
}

.header-2__nav__item__btn:active {
    background-color: transparent;
    color: #9D5CD0;
}


/* .header-2__nav__item::after {
    content: "";
    position: absolute;
    background: url(../img/header/header2-marker.svg) no-repeat;
    top: 8px;
    right: -33px;
    width: 30px;
    height: 30px;
} */

.header-2__nav__item:not(:last-child) {
    margin-right: 137px;
}


/* search */

.search {
    opacity: .7;
}

.search-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 16px;
}

.search-text {
    border-bottom: 1px solid #fff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 5px;
}

/* custom scroll */

.customScroll {
    width: 300px;
    height: 300px;
    position: absolute;
    
}


/* dropdown */

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.4);
    padding: 40px;
}

.dropdown.is-active {
    display: block;
}

.dropdown__item {
    display: block;
    margin-bottom: 20px;
}

.dropdown__item:last-child {
    margin-bottom: 0;
}

.dropdown div {
    display: flex;
    width: 220px;
    height: 40px;
}

.dropdown div a {
    padding: 7px 14px 9px 14px;
}

.dropdown div:hover {
    outline: 2px solid #7943A4;
}

.dropdown div:active {
    opacity: 60%;
}

.dropdown li:nth-child(1) div {
    background: url(../img/header/dropdown/dropdown-1/1.jpg) 0 0/100% 100% no-repeat;  
}

.dropdown li:nth-child(2) div {
    background: url(../img/header/dropdown/dropdown-1/2.jpg) 0 0/100% 100% no-repeat;
}

.dropdown li:nth-child(3) div {
    background: url(../img/header/dropdown/dropdown-1/3.jpg) 0 0/100% 100% no-repeat;
}

.dropdown li:nth-child(4) div {
    background: url(../img/header/dropdown/dropdown-1/1.jpg) 0 0/100% 100% no-repeat;
}






/* Интро */

.intro {
    color: #fff;
    position: relative;
}

.intro__heading {
    margin-bottom: 15px;
    max-width: 597px;
    font-size: 72px;
    line-height: 82.8px;
    font-weight: 700;
}

.intro__description {
    max-width: 597px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

}

.intro__btn {
    padding: 21px 35px 23px;
    margin-top: 92px;
    max-width: 597px;
    font-size: 18px;
    line-height: 24.51px;
    font-weight: 700;
    background-color: #9D5CD0;
    border: 3px solid #9D5CD0;
    border-radius: 100px;
}

.intro__btn:hover {
    border: 3px solid #a976cf;
}

.intro__btn:active {
    background-color: #7943A4;
    outline: none;
}

.main-swiper-slide-1 {
    background: url(../img/intro/bg-1.jpg) no-repeat;
}
  
.main-swiper-slide-2 {
    background: url(../img/intro/bg-2.jpg) no-repeat;
}
  
.main-swiper-slide-3 {
    background: url(../img/intro/bg-3.jpg) no-repeat;
}

.intro__content {
    padding: 233px 0 122px;
    z-index: 2; 
    position: relative;
    display: inline-block;  
}
  
.main-swiper {
    position: relative;
    z-index: 1;
}

.main-swiper .container {
    padding: 0;
}
  
.main-swiper .swiper-wrapper {
    position: absolute !important;
    z-index: 1;
    padding: 0 !important;
}

/* about us */

.section-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-heading {
    margin: 0 0 30px 0;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    color: #333;
}

.section-description {
    max-width: 1090px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

/* gallery */

.gallery {
    background: url(../img/gallery/bg.jpg) no-repeat;
    color: #fff;
    height: 595px;
}

.gallery__inner {
    display: flex;  
}

.gallery__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    margin-right: 50px;
}

.section-heading--gallery {
    color: #fff;
    margin-bottom: 16px;
}

.gallery__main {
    width: 72%;
    overflow: hidden;
    min-width: 0;
    padding-top: 50px;
}

.gallery__select__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

/* swiper */

.controle__box {
    display: flex;
    max-width: 130px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.gallery-next,
.gallery-prev {
    cursor: pointer;
    align-items: center;
    
}

.gallery-pagination {
    font-size: 16px;
    color: #fff;
}






















/* gallery select */

.gallery__select {
    margin-bottom: 176px;
}

.choices__inner {
    background-color: transparent !important;
    color: #fff;
    font-size: 16px;
    border-radius: 6px !important;
}

.choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.is-open .choices__inner {
    border-radius: 6px 6px 0 0 !important;
}

.choices__list--dropdown {
    background-color: transparent !important;
    border-radius: 0 0 6px 6px !important;
}

.choices__item {
    background-color: transparent !important;
}

.choices__item:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.choices__item:first-child:hover {
    background-color: transparent !important;
}

[data-value="hide"][role="option"] {
    display: none !important;
}

.choices[data-type*=select-one]:after {
    content: '';
    display: none;
}

.choices__inner {
    background-image: url(../img/gallery/select/close.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 97% 52%;
}

.is-open .choices__inner {
    background-image: url(../img/gallery/select/open.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 97% 52%;
}

/* checkbox */

.checkbox {
    max-width: 150px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.option {
    display: block;
    margin-bottom: 10px;
  }
  
.check {
    padding-left: 12px;
}
  
.check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
  
.check__box {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    margin-left: -20px;
    margin-top: 9px;
    
}

.check__tect {
    color: #fff;
}

/* checked */

.check__input:checked + .check__box {
    background: url(../img/gallery/checkbox/dot.svg) no-repeat 51% 48%;
}

 
/* hover */

.option:hover {
    color: #C283F3;
}

.option:hover .check__box {
    border: 1px solid #C283F3 !important;
}

.check__input:checked + .check__box {
    border: 1px solid #C283F3 !important;
} 

.check__input:checked .check__text {
    color: #C283F3 !important;
} 






















